@import url("https://fonts.googleapis.com/css?family=Oswald|Spicy+Rice|Vast+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Code:400,700|Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css?family=Leckerli+One&display=swap");
* {
  font-family: "Verdana";
}

body {
  max-width: 1080px;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
  margin: 0 auto;
}

a {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Leckerli One";
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 3em;
}

p {
  font-family: "Oswald";
  color: #fff;
  padding: 1.5em;
  margin: 0 2em 2em 2em;
  background-color: rgba(76, 85, 85, 0.3);
  max-width: 700px;
  font-size: 1.5em;
}

.subHeading {
  font-size: 2em;
  color: #14160c;
}

.clearIt {
  clear: both;
}

ul.navBar {
  list-style-type: none;
  margin: 10px;
}

ul.navBar li {
  float: right;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 6px;
}

ul.navBar li a {
  font-family: "Oswald";
  color: #abd74d;
  text-decoration: none;
  font-size: 1.5em;
}

ul.navBar li a:hover {
  color: #e4f486;
}

ul.navBar li a .logo {
  font-family: "Leckerli One";
}

ul.navBar .navHover {
  color: orange;
}

.jumbotron {
  padding-top: 30px;
  background: url("../images/mainPageMobile2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  height: 600px;
}

@media (min-width: 600px) {
  .jumbotron {
    background: url("../images/mainPageBW.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
    height: 600px;
    padding-top: 250px;
  }
  .jumbotron .mainHeading {
    font-size: 5em;
  }
  .jumbotron .subHeading {
    font-size: 4em;
  }
}

.jumbotron h1 {
  text-align: center;
  align-items: center;
  color: #7a8528;
}

.jumbotron .subHeading {
  color: #14160c;
}

.jumbotron p span {
  font-weight: bold;
}

.projectLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectLinks:hover .sphere {
  width: 200px;
  height: 200px;
}

@media (min-width: 600px) {
  .projectLinks {
    display: flex;
    flex-direction: row;
  }
}

.projectLinks .sphere {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  transition-property: width, height;
}

@media (min-width: 600px) {
  .projectLinks .sphere {
    width: 120px;
    height: 120px;
    margin-left: 1em;
    margin-right: 1em;
  }
}

.projectLinks .sphere a {
  font-family: "Oswald";
  text-decoration: none;
}

.projectLinks .sphere #blog {
  color: #14160c;
}

.projectLinks .sphere #evite {
  color: #14160c;
}

.projectLinks .sphere #mobile {
  color: #abd74d;
}

.projectLinks .sphere #collab {
  color: #e4f486;
}

.projectLinks .sphere #team {
  color: #e4f486;
}

.projectLinks .s1 {
  transition-duration: .5s;
  background-color: #abd74d;
}

.projectLinks .s2 {
  background-color: #e4f486;
  transition-duration: .5s;
}

.projectLinks .s3 {
  background-color: #14160c;
  transition-duration: .5s;
}

.projectLinks .s4 {
  background-color: #7a8528;
  display: none;
  transition-duration: .5s;
}

@media (min-width: 600px) {
  .projectLinks .s4 {
    display: flex;
  }
}

.projectLinks .s5 {
  background-color: #7a8528;
  transition-duration: .5s;
}

@media (min-width: 600px) {
  .projectLinks .s5 {
    display: none;
  }
}

.socialMedia {
  height: 200px;
  padding-top: 200px;
}

@media (min-width: 374px) {
  .socialMedia {
    padding-top: 130px;
  }
}

@media (min-width: 600px) {
  .socialMedia {
    padding-top: 180px;
  }
}

@media (min-width: 865px) {
  .socialMedia {
    padding-top: 60px;
  }
}

.socialMedia ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .socialMedia ul {
    flex-direction: row;
  }
}

.socialMedia ul li {
  list-style-type: none;
  flex-direction: row;
  margin: 15px;
  padding: 5px;
}

@media (min-width: 600px) {
  .socialMedia ul li {
    flex-direction: row;
  }
}

.socialMedia ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  cursor: pointer;
}

@media (min-width: 600px) {
  .socialMedia ul li a {
    font-size: 2em;
  }
}

form {
  margin: 0 auto;
  padding: 15px;
  width: 20em;
}

form div {
  margin: 2em;
}

form div label {
  font-family: "Oswald";
  font-size: 1.5em;
}

.contact {
  background: url("../images/phoneContact.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  height: 600px;
}

.contact h1 {
  margin-left: 10px;
}

#submit {
  width: 10em;
  background-color: #abd74d;
  color: #14160c;
  font-family: "Oswald";
  font-size: 1.5em;
}

.about h1 {
  margin-left: 10px;
}

.about .aboutBody {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .about .aboutBody {
    flex-direction: row;
  }
  .about .aboutBody figure {
    margin-left: 10px;
    margin-right: 10px;
  }
  .about .aboutBody p {
    margin-left: 10px;
    padding-left: 10px;
    width: 350px;
  }
}

@media (min-width: 600px) and (min-width: 850px) {
  .about .aboutBody {
    flex-direction: row;
  }
  .about .aboutBody figure {
    margin: 10px;
  }
  .about .aboutBody p {
    margin: 10px;
    padding: 10px;
    width: 700px;
  }
}
/*# sourceMappingURL=styles.css.map */