.socialMedia {
    height: 200px;
    padding: 0;
    @include break(600px) {
        padding: 3em;
    }
    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        @include break(600px) {
            flex-direction: row;
        }
         li {
             list-style-type: none;
             @include break(600px) {
                 flex-direction: row;
                 
             }
            flex-direction: row;
            margin: 20px;
            padding: 5px;
            a {
                color: #fff;
                text-decoration: none;
                @include break(600px) {
                    font-size: 2em;
                }
                font-size: 1.5em;
                cursor: pointer;
            }
        }
    }
}