.socialMedia {
    height: 200px;
    padding-top: 200px;
    @include break(374px) {
        padding-top: 130px;
    }
    @include break(600px) {
       padding-top: 180px;
    }
    @include break(865px) {
        padding-top: 60px;
    }
    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        @include break(600px) {
            flex-direction: row;
        }
         li {
             list-style-type: none;
             @include break(600px) {
                 flex-direction: row;
                 
             }
            flex-direction: row;
            margin: 15px;
            padding: 5px;
            a {
                color: #fff;
                text-decoration: none;
                @include break(600px) {
                    font-size: 2em;
                }
                font-size: 1.5em;
                cursor: pointer;
            }
        }
    }
}