.jumbotron {
    padding-top: 30px;
    @include break(600px) {
        @include backImage('../images/mainPageBW.png');
        .mainHeading {
            font-size: 5em;
            
        }
        .subHeading {
            font-size: 4em;
        }
        padding-top: 250px
        
    }
    @include backImage ('../images/mainPageMobile2.png');
   
    h1 {
        text-align: center;
        align-items: center;
        color:  $fontColor;
        
    }
    .subHeading {
        color: $bgColorMobile;
    }
    p {
        span {
            font-weight: bold;
        }
    }
    
}