* {
    
    font-family: $portfolioFontText;
}
body {
    max-width: 1080px;
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
    margin: 0 auto;
}
a{
    cursor: pointer;
}
  

img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-family: $portfolioFont;
    background-color: rgba(255,255, 255, .6);
    font-size: 3em;
    

}
p {
    font-family: $portfolioFontSub;
    color: #fff;
    padding: 2em;
    margin:0 2em 2em 2em;
    background-color: rgba(76,85,85,.3);
    max-width: 700px;  
}

.subHeading {
    font-size: 2em;
    color: $bgColorMobile;
   
}
.clearIt {
    clear: both;
}