* {
    
    font-family: $portfolioFontText;
}
body {
    max-width: 1080px;
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
    margin: 0 auto;
}
a{
    cursor: pointer;
}
  

img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-family: $portfolioFont;
    background-color: rgba(255,255, 255, .6);
    font-size: 3em;
    

}
p {
color: $bgColorMobile;
}
h2 {
    font-family: $portfolioFontSub;
    color:$bgColorEvite;
}
.subHeading {
    font-size: 2em;
   
}
.clearIt {
    clear: both;
}