@import url('https://fonts.googleapis.com/css?family=Oswald|Spicy+Rice|Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,700|Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css?family=Leckerli+One&display=swap');

$bodyColor: #333;
$fontColor: #49a544;
$bgColorBlog:#ffd5d1;
$fontColorBlog: #472a2f;
$fontColorEvite: #061238;
$bgColorEvite: #138de2;
$bgColorMobile: #241508;
$fontColorMobile: #c19d67;
$fontColorCollab: #fd8f86;
$bgColorCollab: #006174;

$logoKitchenFont: 'Sacramento';
$logoCodingFont: 'Fira Code';

$mobileScreen: 599px;
$midScreen: 900px;
$portfolioFont: 'Leckerli One';
$portfolioFontSub: 'Oswald';
$portfolioFontText: 'Verdana';

