@import url('https://fonts.googleapis.com/css?family=Oswald|Spicy+Rice|Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,700|Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css?family=Leckerli+One&display=swap');

$bodyColor: #4c555f;
$fontColor: #7a8528;
$bgColorBlog:#abd74d;
$fontColorBlog: #14160c;
$fontColorEvite: #14160c;
$bgColorEvite: #e4f486;
$bgColorMobile: #14160c;
$fontColorMobile: #abd74d;
$fontColorCollab: #e4f486;
$bgColorCollab: #7a8528;

$logoKitchenFont: 'Sacramento';
$logoCodingFont: 'Fira Code';

$mobileScreen: 599px;
$midScreen: 900px;
$portfolioFont: 'Leckerli One';
$portfolioFontSub: 'Oswald';
$portfolioFontText: 'Verdana';

