@import url('https://fonts.googleapis.com/css?family=Oswald|Spicy+Rice|Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,700|Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css?family=Leckerli+One&display=swap');

$bodyColor: #333;
$fontColor: #e89900;
$bgColorBlog:#ffcc00;
$fontColorBlog: #000;
$fontColorEvite: #a6a6a6;
$bgColorEvite: #000;
$bgColorMobile: #808080;
$fontColorMobile: #000;
$fontColorCollab: #808080;
$bgColorCollab: #b57700;

$logoKitchenFont: 'Sacramento';
$logoCodingFont: 'Fira Code';

$mobileScreen: 599px;
$midScreen: 900px;
$portfolioFont: 'Leckerli One';
$portfolioFontSub: 'Oswald';
$portfolioFontText: 'Verdana';

